/* font familly */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
/* sheared style */
.flex-display {
    display: flex;
}


.btn {
    background-color: #E02C6D;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 41px;
    padding: 10px 40px;
    margin-top: 16px;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 5px 5px 25px rgba(100, 0, 0, 0.30);
}
/* main style */

.navbar {
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.brand {
    font-size: 24px;
    font-weight: 700;
}

.nav-menu {
    list-style: none;
    gap: 25px;
}

.nav-menu a {
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
}

/* banner related style */
.banner-container {
    margin: 50px 35px;
    gap: 250px;
}

.banner-content {
    text-align: left;
    width: 100%;
    max-width: 582px;
}

.banner-heading {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 4rem;
}

.banner-image {
    background: url(images/Circle\ design.svg);
    background-size: cover;
}
/* sponsors related style */
.sponsors{
    max-width: 1140px;
    margin: 80px auto;
    padding: 35px auto;
    
}
.companies{
    display: flex;
    justify-content: space-around;
}
/* collection related style */
.collection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-heading{
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 50px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;

}
.card{
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding: 25px;
}
.card:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.collection-text{
    color: #787885;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
}
.price{
    font-size: 24px;
}
.see-more{
    color: #E02C6D;
    text-align: right;
    width: 85%;
    margin-top: 50px;
    cursor: pointer;
}
/* last section */
.featured{
    max-width: 1110px;
    margin: 80px auto;
    gap: 80px;
    align-items: center;
}
.featured h1{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

footer{
    text-align: center;
    padding: 60px 20px;
    background-color: rgb(12, 19, 37);
    color: white;
    line-height: 40px;
}

/* responsive style */
@media screen and (max-width:576px) {
   
    .banner-container{
        flex-direction: column;
        flex-direction: column-reverse;
        gap: 50px;
    }
    .nav-menu{
        display: none;
    }
    .banner-content{
        width: 85%;
    }
    .banner-image img{
        width: 90%;
    }
    .banner-heading {
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}
   .card-container{
        grid-template-columns: repeat(1,1fr);
    }
    .companies{
        flex-wrap: wrap;
    }
    .featured{
        flex-direction: column-reverse;
    }
}
